<!doctype html>
<html ng-app="todoApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="todo.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>

<body ng-controller="TodoListController as todoList">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <center>{{todoList.title}}</center>
      </div>
      <div class="row">
        <div class="col s3">
          รายชื่อลูกค้า
          <br> ชื่อ
          <input placeholder="ชื่อ" ng-model="input.name" type="text" class="validate"> นาม
          <input placeholder="นาม" ng-model="input.surname" type="text" class="validate"> ห้อง
          <input placeholder="ห้อง" ng-model="input.room" type="number" class="validate"> เวลาเริ่ม
          <input type="date" class="datepicker" ng-model="input.start"> เวลาหมด
          <input type="date" class="datepicker" ng-model="input.end">
          <button type="button" ng-click="todoList.sub(input)">จองห้อง</button>
        </div>
        <div class="col s3" ng-repeat="show in todoList.r1">
          {{show.name}}
          <br> {{show.surname}}
          <br> {{show.room}}
          <br> {{todoList.time(show.start)}}
          <br> {{todoList.time(show.end)}}
          <hr>
        </div>
        <div class="col s3" ng-repeat="show in todoList.r2">
          {{show.name}}
          <br> {{show.surname}}
          <br> {{show.room}}
          <br> {{todoList.time(show.start)}}
          <br> {{todoList.time(show.end)}}
          <hr>
        </div>
        <div class="col s3" ng-repeat="show in todoList.r3">
          {{show.name}}
          <br> {{show.surname}}
          <br> {{show.room}}
          <br> {{todoList.time(show.start)}}
          <br> {{todoList.time(show.end)}}
          <hr>
        </div>
        <div class="col s3" ng-repeat="show in todoList.r4">
          {{show.name}}
          <br> {{show.surname}}
          <br> {{show.room}}
          <br> {{todoList.time(show.start)}}
          <br> {{todoList.time(show.end)}}
          <hr>
        </div>
        <div class="col s3" ng-repeat="show in todoList.r5">
          {{show.name}}
          <br> {{show.surname}}
          <br> {{show.room}}
          <br> {{todoList.time(show.start)}}
          <br> {{todoList.time(show.end)}}
          <hr>
        </div>
        <div class="col s3" ng-repeat="show in todoList.r6">
          {{show.name}}
          <br> {{show.surname}}
          <br> {{show.room}}
          <br> {{todoList.time(show.start)}}
          <br> {{todoList.time(show.end)}}
          <hr>
        </div>
      </div>
    </div>
</body>

</html>